# Node modules
/backend/node_modules/ 

/frontend/node_modules/
/frontend/.pnp/
/frontend/.pnp.js

# Testing
/frontend/coverage/

# Next.js 
/frontend/.next/
/frontend/out/

# ENV
/backend/.env 
/frontend/.env*.local

# Production
/backend/dist/ 
/frontend/build/

# Misc
/frontend/.DS_Store
/backend/*.pem

# Debug 
/frontend/yarn-error.log*
/frontend/yarn-debug.log*
/frontend/npm-debug.log*

# Vercel
/frontend/.vercel 

# TypeScript
**/*.tsbuildinfo
/frontend/next-env.d.ts
